.footer ul{
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform:capitalize;
   font-size: 13px;
   font-weight: 500;
   flex-wrap: wrap;
   color: gray;
}
.footer ul li{
    list-style: none;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-top: -20px;
}