.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header__links, .header__right{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
}
.header__links p, .header__right p{
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

a{
    text-decoration: none;
}

.header__links p:hover{
    background-color: rgba(231, 231, 231, 0.322);
    border-radius: 100px;
}

@media screen and (max-width: 768px) {
    .header__links{
        display: none;
    }
    .header__right p{
        padding: 0 10px;
    }
    .header{
        padding: 15px 5px;
    }
}